html, body, canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    color: #000;
	background: #963;
	font-size: 24px;
	line-height: 60px;
	text-align: center;
    perspective: 500px;
    -webkit-perspective: 500px;
}

h1, h2 {
    margin: 0;
	padding: 0;
    letter-spacing: -2px;
	font-weight: bold;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

input, select {
    display: block;
	color: #000;
	background: #a74;
    border: none;
	margin: 2px 0;
	font-size: 24px;
	text-align: center;
    box-sizing: border-box;
    width: 140px;
    height: 40px;
}

input {
    padding: 0 2px;
}

select[multiple] {
	height: 168px;
    width: 140px;
}

#game,
#chat {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

#count {
	position: absolute;
    display: flex;
	top: 0;
	right: 0;
    bottom: 0;
    left: 0;
    font-size: 180px;
    font-weight: bold;
    justify-content: center;

    span {
        align-self: center;
        opacity: 0;
            transition: opacity .3s;

        &.on {
            opacity: .8;
        }
    }
}

#game {
    top: 30px;
    display: flex;
    justify-content: center;

    div {
        align-self: center;
    }
}

#chat {
	line-height: 20px;
	overflow: hidden;

	input {
		width: 100%;
		height: 30px;
		text-align: left;
        background: rgba(0, 0, 0, 0);
        border: 0;
	}

	div {
		width: 50%;
		height: 100%;
		padding: 5px;
	}

	div.texts {
		text-align: left;
	}

	div.room {
		float: right;
		text-align: right;
	}
}

.btn {
    display: inline-block;
    color: #000;
    background: #963;
	border: 2px solid #000;
    line-height: 40px;
	text-decoration: none;
	cursor: pointer;
    width: 135px;
}

a.btn:hover {
	background: #000;
	color: #963;
}

.bt,
.br,
.bb,
.bl {
    border: 2px solid #642;
    background: #963;
    position: absolute;
    display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 1s;
}

.bt {
    bottom: 50%;
    transform-origin: center top;
    justify-content: center;

    div {
        align-self: flex-end;
    }
}

.br {
    left: 50%;
    transform-origin: right center;

    div {
        align-self:  center;
    }
}

.bb {
    top: 50%;
    transform-origin: center bottom;
    justify-content: center;
}

.bl {
    right: 50%;
    transform-origin: left center;
    justify-content: flex-end;

    div {
        align-self:  center;
    }
}

.open, .start {
    .bt {
        transform: rotateX(90deg);
        -webkit-transform: rotateX(90deg);
    }
    .bb {
        transform: rotateX(-90deg);
        -webkit-transform: rotateX(-90deg);
    }
}

.start {
    .bl {
        transform: rotateY(-90deg);
        -webkit-transform: rotateY(-90deg);
    }
    .br {
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
    }
}
